    <!-- Start: Topbar -->

<header id="topbar">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="active">
                <a ui-sref="#dashboard"><span class="fa fa-dashboard"></span></a>
            </li>
        </ol>
          
            <div ncy-breadcrumb></div>
</div>

</header>
<!-- End: Topbar -->
