<div class="dropdown position-fixed" id="menu-table">
    <ul class="dropdown-menu" role="menu">

        <li>
            <a class="pointer" role="menuitem"
               data-ng-click="exportDataToExcel()">
                <i class="glyphicons glyphicons-file_export"></i>&nbsp;Export to Excel
            </a>
        </li>
        <li>
            <a class="pointer" role="menuitem"
               href="javascript:window.print()">
                <i class="glyphicons glyphicons-print"></i>&nbsp;Print
            </a>
        </li>
        <li>
            <a class="pointer" role="menuitem"
            data-ng-click="unCheckAll()">
                <span class="glyphicons glyphicons-circle_question_mark">&nbsp;Help</span>
            </a>
        </li>
            
       

    </ul>
</div>
