
  <!-- Start: Header -->
<header class="navbar navbar-fixed-top bg-light" >
    <div class="navbar-branding">
    
        <a class="navbar-brand" href="/"> <img src="~/Images/falowup.png" width="147" height="40" /></a>

    </div>
    <ul class="nav navbar-nav navbar-left">
        <li class="br-t of-h">@Html.ActionLink("Login","Login","Account")</li>
    </ul>
</header>
<!-- End: Header -->

