
<aside id="sidebar_left" class="nano nano-primary" >
    <div class="nano-content">
        <ul class="nav sidebar-menu">
            <li class="sidebar-label pt20">Menu</li>
            <li>
                <a ui-sref="dashboard" >
                    <span class="fa fa-dashboard "></span>
                    <span class="sidebar-title">Dashboard</span>
                </a>
            </li>
            @foreach (adminv2.Models.MenuModel menurw in Model)
            {
                <li>
                    <a ui-sref="@menurw.stage">
                        <span class="@menurw.icon"></span>
                        <span class="sidebar-title">@menurw.name</span>
                    </a>
                </li>

            }
           
       </ul>



            <!-- sidebar menu -->

            <div class="sidebar-toggle-mini">
                <a href="#">
                    <span class="fa fa-sign-out"></span>
                </a>
            </div>
</div>
</aside>