@{
    Layout = null;

}
<section class="content" data-ng-init="ctrl.getStatusCount()">
    <div class="panel panel-primary">
      
        <div class="panel-body">
            <div class="row" id="dashrow">
<!--fill dashboard here-->
            </div>
        </div>
    </div>
</section>
