@{
    Layout = null;

}


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title>Fastlogistics::Aquila</title>
    <meta name="keywords" content="Fastlogistics Application Services" />
    <meta name="description" content="Fastlogistics Apps & system ">
    <meta name="author" content="Fastlogistics">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap Core CSS -->
    <link href="~/landing/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/landing/css/theme.css" rel="stylesheet" />
    <link href="~/landing/css/style.css" rel="stylesheet" />
    <link href="~/landing/css/mystyle.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic'>

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">

    @*<script src="~/Scripts/snowstorm.js"></script>*@
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">


    <!-- Navigation -->
    <nav class="navbar navbar-default">


        <!-- Topbar Nav (hidden) -->
        <div class="topbar-nav clearfix">
            <div class="container">
                <ul class="topbar-left list-unstyled list-inline">
                    <li> <span class="fa fa-phone"></span> 123-456-7890 </li>
                    <li> <span class="fa fa-envelope"></span> info@yourdomain.com </li>
                </ul>
                <ul class="topbar-right list-unstyled list-inline topbar-social">
                    <li> <a href="#"> <span class="fa fa-facebook"></span> </a></li>
                    <li> <a href="#"> <span class="fa fa-twitter"></span> </a></li>
                    <li> <a href="#"> <span class="fa fa-google-plus"></span> </a></li>
                    <li> <a href="#"> <span class="fa fa-dribbble"></span> </a></li>
                    <li> <a href="#"> <span class="fa fa-instagram"></span> </a></li>
                </ul>

            </div>
        </div>

        <div class="container" style="max-width: 1050px;">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="~/Images/logo.png" width="147" height="40" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active hidden">
                        <a href="#page-top">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                  
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="@Url.Content("~/Account/Login")">Sign-in</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Hero Content -->
    <header id="hero2">
        <div class="container">
           
        </div>
    </header>

    <div class="row" id="services" >
        <div class="col-lg-6 gradient-greyblue shadow" style="height:360px;">
            <div class=" text-center">
                @*<img class="service-logo" src="~/landing/img/icons/aquila.png" title="service icon">*@
                <p style="margin:0in;margin-bottom:.0001pt"><b style="text-align: center;"><span style="font-size: 24pt; color: #ff6600;">W</span></b><b style="text-align: center;"><span style="font-size: 24pt; color: #ffcc00;">i</span></b><b style="text-align: center;"><span style="font-size: 24pt; color: #ffff00;">n</span></b><b style="text-align: center;"><span style="font-size: 24pt; color: #00cc33;">g</span></b><b style="text-align: center;"><span style="font-size: 24pt; color: #009900;">Z</span></b></p>
                <p class="text-justify">
                    <b>WingZ</b>  is one of the driving solutions of Aquila which handles features focusing on the web and mobile applications.  Having this technology enables Warehouses to use RFID scanners for real time data update of stock inventory movements.

                    With Wingz, users can perform specific transactions using their preferred device such as Desktop, Laptop, Smart Phones, RFID and any other portable handheld devices with web browsing capability. The design has been custom-fit  making it friendly enough to users who are doing and delivering results at the palm of their hand.

                    Aquila WMS Report accessibility has been made easier also as they are now available to be viewed and download via web making it even faster to gather warehouse facts and data results, anytime anywhere.
                </p>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary ">GO</button>
            </div>

        </div>
        <div class="col-lg-6 gradient-greyblue shadow" style="height:360px;">
            <div class="text-center">
                <h2>Core App's</h2>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-1">
                    <img src="~/landing/img/icons/2.png" title="Admin" alt="admin">
                    <center><small class="text-center">Admin Panel</small></center>
</div>
                <div class="col-lg-2 col-md-1">
                 <img class="service-logo2" src="~/landing/img/icons/pms_logo -2.png" title="PMS">
                    <center><small class="text-center">PMS</small></center>
</div>
                <div class="col-lg-2 col-md-1">
                    <img src="~/landing/img/icons/network-drive-connected-icon.png" width="100" height="80" title="Electronic Data Interface">
                   <center><small class="text-center">EDI</small></center> 
                </div>
                <div class="col-lg-2 col-md-1">
                    <img src="~/landing/img/icons/applicant.jpg" title="Applicant Pooling System">
                    <center> <small class="text-center">Applicant Pool Sys.</small></center>
</div>
            </div>
            <p></p>

            <div class="text-center">
                <a href="@Url.Content("~/Account/Login")" target="_blank" class="btn btn-primary">Go</a>
            </div>


        </div>
        <div class="col-lg-6 gradient-greyblue shadow" style="height:360px;">
            <div class="text-center">
                <img class="service-logo" src="~/landing/img/icons/pism_logo.png" title="PISM Analytics" alt="pism logo">
                <p class="text-justify">
                    <b>PISM ANALYTICS</b> A resource management analysis software use to support operational performance and deliver business goals through proactive approach.

                    A tool for operations to capture warehouse information and events and a food for the executives/managers for business decisions.
                </p>

                <a href="http://apps.fastgroup.biz/core/pism" target="_blank" class="btn btn-primary">Go</a>


            </div>
        </div>
        <div class="col-lg-6 gradient-greyblue shadow" style="height:360px;">
            <div class="text-center">
                <img src="~/landing/img/icons/git_logo.png" title="GIT LOGO" alt="GIT" width="100" height="80">
                <p class="text-justify">
                    <b>GIT</b> is a distributed revision control system with an emphasis on speed, data integrity, and support for distributed, non-linear workflows.
                    <br />
                    <br />
                    <span style="background-color:#ffd800"><b>Note:</b> Only IT can use this system</span>
                </p>
                <a href="http://apps.fastgroup.biz/core/git" target="_blank" class="btn btn-primary">Go</a>

            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="container mw850">
            <div class="row">
                <div class="col-md-6 text-left">
                    <span class="copyright text-muted">Copyright &copy; <b>Fastlogistics</b> @DateTime.Now.Year</span>
                </div>

                <div class="col-md-6 text-right">
                    <ul class="list-inline quicklinks">
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms of Use</a>
                        </li>
                        <li>
                            <a href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



    <!-- Team Section (hidden) -->
    <section id="team" class="bg-light hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Team You Need</h2>
                    <h3 class="section-subheading text-muted">Lorem amet ipsum dolor sit consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="~/landing/img/team/1.jpg" class="img-responsive" alt="">
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                        <h4>Kay Garland</h4>
                        <p class="text-muted">Lead Designer</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="~/landing/img/team/2.jpg" class="img-responsive" alt="">
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="~/landing/img/team/3.jpg" class="img-responsive" alt="">
                        <h4>Diana Pertersen</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>






    <!-- jQuery -->
    <!-- <script src="js/vendor/jquery.js"></script> -- Local Version -->
    <script src="~/landing/js/vendor/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/landing/js/vendor/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="~/landing/js/vendor/jqBootstrapValidation.js"></script>
    <script src="~/landing/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/landing/js/main.js"></script>
</body>

</html>
